<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product info</title>
</head>
<body>
<h3 align="center">Информация по продукту</h3>
<br>
<div align="center">
    <p>Id: <span th:text="${product.getId()}"></span></p>
    <p>Название: <span th:text="${product.getTitle()}"></span></p>
    <p>Цена: <span th:text="${product.getCost()}"></span></p>
    <p><a th:href="@{'/product/all'}">На страницу со всеми продуктами</a></p>
</div>
</body>
</html>